* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #1A2027;
  color: white;
}



.contenido {
  flex: 1;
  padding: 2rem;
}

.contenedorTraductor{
  display: flex;
   flex-direction: row;
  gap: 20px; /* opcional para separarlos */
  justify-content: center; /* opcional para centrar en pantalla */
  flex-wrap: wrap; /* permite que se bajen si no caben */
}

.contenedorUno {
  background-color: #101419;
  border: 3px solid;
  border-radius: 30px;
  border-color: #00AAFF;
  max-width: 550px;
  max-height: 300px;
}

.contenedorDos {
  background-color: #101419;
  border: 3px solid;
  border-radius: 30px;
  border-color: #00AAFF;
  max-width: 550px;
}

@media (max-width: 768px) {
  .contenedorTraductor {
    flex-direction: column;
    align-items: center; /* centra los elementos apilados */
  }
}

/*! Responsive */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
  }

  .nav-links a {
    margin: 0.5rem 0;
  }
}