* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #1A2027;
  color: white;
}


.contenido {
  flex: 1;
  padding: 2rem;
}
/* Titulo principal*/
h1, h3 {
  text-align: center;
  margin: 1rem auto;
  max-width: 90%;
  line-height: 1.3;
}


h1 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
  color: #ffffff; 
}


@media (max-width: 768px) {
  h1 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.1rem;
  }
}

/* contenedores con información*/
article {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1.5rem;
  /* background-color: #f9f9f9; 
  border-radius: 10px;       
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);  */
}

article p {
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: justify;
  color: #ffffff;
}

@media (max-width: 768px) {
  article {
    padding: 1rem;
    margin: 1rem auto;
  }

  article p {
    font-size: 1rem;
    text-align: left; 
  }
}


.contenedorTraductor{
  display: flex;
   flex-direction: row;
  gap: 20px; /* opcional para separarlos */
  justify-content: center; /* opcional para centrar en pantalla */
  flex-wrap: wrap; /* permite que se bajen si no caben */
}

.contenedorUno {
  background-color: #101419;
  border: 3px solid;
  border-radius: 30px;
  border-color: #00AAFF;
  width: 550px;
  max-width: 550px;
  height: 300px;

}

#palabra{
  width: 500px;
}

.contenedorDos {
  background-color: #101419;
  border: 3px solid;
  border-radius: 30px;
  border-color: #00AAFF;
  width: 550px;
  max-width: 550px;
  height: 300px;
}

article{
    border-radius: 8px;
  margin-bottom: 1rem;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.644);
}


.ejemplos-morse {
  max-width: 800px;
  /* margin: 2rem auto; */
  padding: 1rem;
  text-align: center; /* centra el contenido de texto */
}

.ejemplos-morse h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.ejemplo {
  /* background-color: #f1f1f1; */
  padding: 1rem;
  /* border-radius: 8px;
  margin-bottom: 1rem;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); */
  display: inline-block; /* evita que ocupe todo el ancho */
  text-align: center;
  min-width: 250px;
}

.ejemplo p {
  margin: 0.3rem 0;
  font-size: 1.1rem;
  text-align: left;
}


@media (max-width: 768px) {
  .contenedorTraductor {
    flex-direction: column;
    align-items: center; /* centra los elementos apilados */
  }
}

